body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ecdede, #d9e4ff);
    animation: fadeIn 1.5s ease-in-out;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h2 {
    margin-top: 20px;
    color: #002b7f;
    font-size: 29px;
    animation: slideDown 1s ease-out;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #2a06ce;
    animation: fadeIn 1.5s ease-in-out;
}

/* Table Style */
.score-table {
    border-collapse: separate;
    border-spacing: 12px;
    background: rgba(255, 255, 255, 0.9);
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    /* Table animation */
    animation: popIn 0.8s ease-out;

}

.score-table th {
    padding: 10px 15px;
    background: #2d4dcc;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

/* Table cell style */
.score-table td {
    padding: 10px;
    background: white;
    border-radius: 6px;
    transition: 0.3s;
}
