body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    font-family: "Poppins", sans-serif;
    height: 100vh;
    color: white;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px #000;
}

form {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    margin-top: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    outline: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #1cc88a;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #17a673;
}

#totalScore, #Grade {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}

