body {
    background: #8ca0e0;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #56e95d, #b9bfdb, #e973e3, #a4a590);
    background-size: 800% 800%;
    animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    font-size: 40px;
     font-weight: bold;
    color: #002b7f;
    text-shadow: 1px 1px 2px #aaa;
    font-family: 'Times New Roman', Times, serif;
}label{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.grade-box {
    width: 350px;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #4a4be7;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-size: 20px;
}

.score-input {
    width: 120px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-size: 18px;
    text-align: center;
}

.grade-output {
    width: 40px;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
}

button {
    width: 200px;
    padding: 12px;
    background: #0a54df;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background: #0034c7;
}

#totalScore, #finalGrade {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    background: #ffffffbb;
    padding: 12px;
    border-radius: 10px;
    height: auto;
    width: fit-content;
}

@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* ===== Title Animation ===== */
h1 {
    font-size: 40px;
    letter-spacing: 2px;
    animation: fadeIn 2s ease;
}

/* @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); } */
/* } */

/* ===== Form Container ===== */
form {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(255,255,255,0.1);
    animation: floatBox 4s ease-in-out infinite;
}.btn btn-primary btn-sm {
    text-align: right;
    margin-left: 10px;
    border: #aaa;
    box-sizing: border-box;
}
